<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Console</a>
        </div>
        <ul>
            <li><a href="http://localhost:4200/chart">Chart</a></li>
            <li><a href="http://localhost:4200/profile">profile</a></li>
            <li><a href="http://localhost:4200/holdings">holdings</a></li>
            <li><a href="http://localhost:4200/placeorder">place order</a></li>
        </ul>
    </div>
</div>
